---
{
	layout: "11ty-starter-common/includes/layouts/base",
	title: "11ty-starter",
	base: {
		body: {
			js: {
				files: [
					{
						src: 'my-file.js',
						attrs: 'defer'
					}
				],
				main: {
					load: true,
					attrs: 'defer'
				}
			}
		}
	}
}
---

## 11ty-starter