---
{
	layout: "11ty-starter-common/includes/layouts/base",
	title: "11ty-starter",
	head: {
		css: {
			sanitize: {
				load: true
			},
			"critical": {
				"load": false
			}
		},
		"google": {
			"fonts": [
				"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Teko:wght@300..700&display=swap"
			]
		}
	},
	body: {
		js: {
			files: [
				{
					src: 'my-file.js',
					attrs: 'defer'
				}
			],
			main: {
				load: true,
				attrs: 'defer'
			}
		}
	}
}
---

## Tests

This page is designed to test things out, delete it.

<style>
	h2 {
		font-family: "Rock Salt", cursive;
	}
</style>